.emptyTodo { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: var(--line-height);
  font-size: var(--text-base);
  color: var(--gray-300);

  border-radius: 8px;
  border-top: 1px solid var(--gray-400);
}

.emptyTodo img {
  margin: 4rem auto 1rem;
}
