.header {
  background: var(--gray-700);
  height: 12.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
}

.header img {
  height: 2.25rem;
  margin-top: 0.5rem;
}

.header span {
  background: linear-gradient(to right, var(--blue) 40%, var(--purple-dark) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 900;
  font-size: 2.5rem;

}
